[submodule "CAN_library"]
	path = CAN_library
	url = https://gitlab.com/grcc/library/can.git
[submodule "MCP3208_reader"]
	path = MCP3208_reader
	url = https://gitlab.com/grcc/library/mcp-3208-reader.git
[submodule "HAL_Extension"]
	path = HAL_Extension
	url = https://gitlab.com/grcc/library/hal_extension.git